<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XCAmazingLoadingView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F82EF70A1C2BBCD10040323B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F82EF7231C2BBCD20040323B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F82EF72E1C2BBCD20040323B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
